<meta charset="UTF-8" />
<title>@@title - Tailwind CSS Multipurpose Landing Page Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta content="Tailwind CSS Saas & Software Landing Page Template" name="description" />
<meta name="author" content="Shreethemes" />
<meta name="website" content="https://shreethemes.in" />
<meta name="email" content="support@shreethemes.in" />
<meta name="version" content="1.4.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico" />