<meta charset="UTF-8" />
<title>@@title - Free, Secure, Open-Source Backup for M365</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta content="Corso Backup for M365" name="description" />
<meta name="author" content="Shreethemes" />
<meta name="website" content="https://corsobackup.io" />
<meta name="version" content="1.4.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- favicon -->
<link rel="shortcut icon" href="assets/images/favicon.svg" />
