<meta charset="UTF-8" />
<title>@@title - Free, Secure, Open-Source Backup for M365</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="Corso, a free, secure, and open-source backup tool for Microsoft 365" />
<meta name="keywords" content="backup, microsoft 365, disaster recovery, object storage, open source, free, secure, ransomware" />
<meta name="author" content="The Corso Backup Team" />
<meta name="website" content="https://corsobackup.io" />
<meta name="version" content="1.0.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@corsobackup" />
<meta name="twitter:title" content="Corso: Free, Secure, and Open-Source Backup for Microsoft 365" />
<meta name="twitter:description" content="Corso, an open-source tool, protects Microsoft 365 data by securely and efficiently backing up all business-critical data to object storage." />
<meta name="twitter:image" content="https://corsobackup.io/assets/images/cloudbackup.png" />

<!-- favicon -->
<link rel="shortcut icon" href="assets/images/favicon.svg" />
