<!-- Start Navbar -->
<nav id="topnav" class="defaultscroll is-sticky">
    <div class="container">
        <!-- Logo container-->
        <a class="logo pl-0" href="index.html">
            <img src="assets/images/logo-dark.svg" class="h-10 inline-block dark:hidden" alt="">
            <img src="assets/images/logo-light.svg" class="h-10 hidden dark:inline-block" alt="">
        </a>

        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <!--Login button Start-->
        <ul class="buy-button list-none mb-0">
            <li class="inline mb-0">
                <a href="https://github.com/alcionai/corso/" target="_blank" class="btn btn-icon rounded-full bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white"><i data-feather="github" class="h-4 w-4"></i></a>
            </li>

            <li class="inline pl-1 mb-0">
                <a href="https://discord.gg/63DTTSnuhT" target="_blank" class="btn btn-icon rounded-full bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white"><i class="uil uil-discord align-middle"></i></a>
            </li>

            <li class="inline pl-1 mb-0">
                <a href="https://docs.corsobackup.io/" target="_blank" class="btn btn-icon rounded-full bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white"><i data-feather="book-open" class="h-4 w-4"></i></a>
            </li>
        </ul>
        <!--Login button End-->

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li><a href="index.html" class="sub-menu-item">Home</a></li>

                <li><a href="https://docs.corsobackup.io/blog" class="sub-menu-item">Blog</a></li>

                <li class="has-submenu parent-menu-item">
                    <a href="javascript:void(0)">Docs</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="https://docs.corsobackup.io" target="_blank" class="sub-menu-item">Documentation</a></li>
                        <li><a href="https://github.com/alcionai/corso/blob/main/CHANGELOG.md" target="_blank" class="sub-menu-item">Changelog</a></li>
                    </ul>
                </li>

            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</nav><!--end header-->
<!-- End Navbar -->
