<!-- Footer Start -->
<footer class="footer bg-dark-footer relative text-gray-200 dark:text-gray-200">    
    <div class="container">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
                <div class="py-[60px] px-0">
                    <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
                        <div class="lg:col-span-4 md:col-span-12">
                            <a href="#" class="text-[22px] focus:outline-none">
                                <img src="assets/images/logo-light.svg" class="h-20" alt="">
                            </a>
                            <p class="mt-6 text-gray-300">Corso, an open-source tool, protects Microsoft 365 data by securely and efficiently backing up all business-critical data to object storage.</p>
                            <ul class="list-none mt-6">
                                <li class="inline"><a href="https://github.com/alcionai/corso/" target="_blank" class="btn btn-icon btn-sm border border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"><i class="uil uil-github align-middle" title="GitHub"></i></a></li>
                                <li class="inline"><a href="https://discord.gg/63DTTSnuhT" target="_blank" class="btn btn-icon btn-sm border border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"><i class="uil uil-discord align-middle" title="Discord"></i></a></li>
                                <li class="inline"><a href="https://twitter.com/CorsoBackup" target="_blank" class="btn btn-icon btn-sm border border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"><i class="uil uil-twitter align-middle" title="Twitter"></i></a></li>
                                <li class="inline"><a href="mailto:community@corsobackup.io" class="btn btn-icon btn-sm border border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"><i class="uil uil-envelope align-middle" title="Email"></i></a></li>
                            </ul><!--end icon-->
                        </div><!--end col-->
                        
                        <div class="lg:col-span-3 md:col-span-12">
                        </div><!--end col-->
                        
                        <div class="lg:col-span-3 md:col-span-4">
                            <h5 class="tracking-[1px] text-gray-100 font-semibold">Useful Links</h5>
                            <ul class="list-none footer-list mt-6">
                                <li><a href="https://docs.corsobackup.io/blog" target-"_blank" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"><i class="uil uil-angle-right-b me-1"></i> Blog</a></li>
                                <li class="mt-[10px]"><a href="https://github.com/alcionai/corso/" target="_blank" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"><i class="uil uil-angle-right-b me-1"></i> GitHub</a></li>
                                <li class="mt-[10px]"><a href="https://docs.corsobackup.io/" target="_blank" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"><i class="uil uil-angle-right-b me-1"></i> Documentation</a></li>
                                <li class="mt-[10px]"><a href="https://discord.gg/63DTTSnuhT" target="_blank" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"><i class="uil uil-angle-right-b me-1"></i> Discord</a></li>
                                <li class="mt-[10px]"><a href="https://docs.corsobackup.io/setup/download" target="_blank" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"><i class="uil uil-angle-right-b me-1"></i> Downloads</a></li>
                            </ul>
                        </div><!--end col-->
                    </div><!--end grid-->
                </div><!--end col-->
            </div>
        </div><!--end grid-->
    </div><!--end container-->

    <div class="py-[30px] px-0 border-t border-slate-800">
        <div class="container text-center">
            <div class="grid md:grid-cols-2 items-center">
                <div class="md:text-left text-center">
                    <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> </p>
                </div>
            </div><!--end grid-->
        </div><!--end container-->
    </div>
</footer><!--end footer-->
<!-- Footer End -->
