<!-- Footer Start -->
<footer class="footer bg-dark-footer relative text-gray-200 dark:text-gray-200">
    <div class="container text-center">
        <div class="grid grid-cols-1">
            <div class="py-[30px] px-0">
                <div class="grid md:grid-cols-2 items-center">
                    <div class="md:text-left text-center">
                        <a href="#" class="text-[22px] focus:outline-none">
                            <img src="assets/images/logo-light.png" class="mx-auto md:mr-auto md:ml-0" alt="">
                        </a>
                    </div>
    
                    <ul class="list-none footer-list md:text-right text-center mt-6 md:mt-0">
                        <li class="inline"><a href="page-job-grid.html" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out">Jobs</a></li>
                        <li class="inline mt-[10px]"><a href="page-job-companies.html" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out ml-2">Companies</a></li>
                        <li class="inline mt-[10px]"><a href="helpcenter-faqs.html" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out ml-2">FAQs</a></li>
                        <li class="inline mt-[10px]"><a href="contact-one.html" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out ml-2">Contact</a></li>
                    </ul><!--end icon-->
                </div><!--end grid-->
            </div>
        </div>
    </div><!--end container-->

    <div class="py-[30px] px-0 border-t border-slate-800">
        <div class="container text-center">
            <div class="grid grid-cols-1">
                <div class="text-center">
                    <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Techwind. Design with <i class="mdi mdi-heart text-red-600"></i> by <a href="https://shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.</p>
                </div>
            </div><!--end grid-->
        </div><!--end container-->
    </div>
</footer><!--end footer-->
<!-- Footer End -->