# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
.vscode
*.swp

# Standard configuration file names
.corso_test.toml
.corso.toml

# Build directories
/bin
/docker/bin
/website/dist

*/test_results/**